.dropzone-btn-delete {
  color: var(--dropzone-theme-color, var(--dropzone-default-theme-color));
  /* ❌ padding: theme('spacing.2'); */
  padding: calc(var(--spacing) * 2);
  position: absolute;
  /* ❌ right: theme('spacing.2'); */
  right: calc(var(--spacing) * 2);
  /* ❌ top: theme('spacing.2'); */
  top: calc(var(--spacing) * 2);
  z-index: 1;
  &:hover {
    /* ❌ color: theme('colors.red.500'); */
    color: var(--color-red-500);
  }
}

.dropzone.disabled .dropzone-btn-delete {
  color: var(--dropzone-disabled-color);
}

.drag-active .dropzone-btn-delete {
  /* ❌ color: theme('colors.green.500'); */
  color: var(--color-green-500);
  &:hover {
    /* ❌ color: theme('colors.green.500'); */
    color: var(--color-green-500);
  }
}
