.dropzone-p1 {
  /* ❌ font-size: theme('fontSize.lg'); */
  font-size: var(--text-lg);
  font-weight: bold;
  /* ❌ margin-bottom: theme('spacing.1'); */
  margin-bottom: calc(var(--spacing) * 1);
  user-select: none;
}

.dropzone-p1-span {
  color: var(--dropzone-theme-color, var(--dropzone-default-theme-color));
}

.dropzone.disabled .dropzone-p1,
.dropzone.disabled .dropzone-p1-span {
  color: var(--dropzone-disabled-color);
}

.drag-active .dropzone-p1 {
  /* ❌ color: theme('colors.green.500'); */
  color: var(--color-green-500);
}
