/* ======================
    Pagination styles
====================== */

.xx-table-pagination {
  display: flex;
  list-style: none;
  padding-left: 0;
  user-select: none;
}

.xx-table-page-link {
  background-color: #fff;
  border: 1px solid #dee2e6;
  /* color: var(--table-page-link-color); */
  display: block;
  font-size: 14px;
  padding: 4px 8px;
  position: relative;
  text-decoration: none;
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.xx-table-page-link:hover {
  background-color: #e9ecef;
  border-color: #dee2e6;
  /* color: var(--table-page-link-color); */
  z-index: 2;
}

.xx-table-page-link:focus {
  /* border-color: var(--table-focus-border-color); */
  /* boxshadow: var(--table-focus-box-shadow-color); */
  /* color: var(--table-page-link-color); */
  outline: 0;
  z-index: 3;
}

.xx-table-page-link.active,
.active > .xx-table-page-link {
  /* background-color: var(--table-page-link-color); */
  /* border-color: var(--table-page-link-color); */
  color: #fff;
  z-index: 3;
}

.xx-table-page-link.disabled,
.disabled > .xx-table-page-link {
  background-color: #fff;
  border-color: #dee2e6;
  color: #6c757d;
  pointer-events: none;
}

.xx-table-page-item:not(:first-child) .xx-table-page-link {
  margin-left: -1px;
}

.xx-table-page-item:first-child .xx-table-page-link {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.xx-table-page-item:last-child .xx-table-page-link {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.xx-table-user-select-none {
  user-select: none !important;
}
