:root {
  --form-focus-border-color: var(--color-blue-300);
  /* '--form-focus-shadow-rgb': `${defaultFocusRGB.r}, ${defaultFocusRGB.g}, ${defaultFocusRGB.b}`, */
  --form-valid-border-color: var(--color-green-500);
  --form-invalid-border-color: var(--color-red-500);
}

/* ======================
        .dropzone
====================== */
/*
# Double-check this file for accuracy.
# Make sure this file also contains all styled for Preview.tsx.
# Begin to remove styles from formPlugin.ts 
# Temporarily add in form-label styles here.
# May also need is-valid (?), is-invalid (?), invalid-feedback
# --form-disabled-color

*/

.dropzone {
  /* ❌ --dropzone-default-theme-color: theme('colors.violet.800'); */
  --dropzone-default-theme-color: var(--color-violet-800);
  --dropzone-disabled-color: #ccc; /*  Too dark: var(--form-disabled-color) */
  --dropzone-preview-size: 100px;
  align-items: center;
  background-color: #fff;
  /* Since there is no definition for --dropzone-theme-color, it will start by using the default.
  However, when consuming we can do this kind of thing: className='[--dropzone-theme-color:orange]' */
  border: 1px dashed
    var(--dropzone-theme-color, var(--dropzone-default-theme-color));
  /* ❌ border-radius: theme('borderRadius.xl'); */
  border-radius: var(--radius-xl);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  /* ❌ padding: theme('spacing.6'); */
  padding: calc(var(--spacing) * 6);
  position: relative;
  width: 100%;
  &:focus {
    /*^ This needs updating... */
    border: 1px solid var(--form-focus-border-color);
    /*^ This needs updating... */
    /*# box-shadow: 0 0 0 0.25rem rgba(var(--form-focus-shadow-rgb), 0.25); */
    outline: none;
  }
}

.dropzone.disabled {
  border: 1px dashed var(--dropzone-disabled-color);
  /* Setting pointer-events: none is important. Otherwise when disabled if
  one drops a file it will open a new tab with that file. */
  pointer-events: none;
}

/*^ Here we need is-invalid, is-valid */
.dropzone.drag-active,
.dropzone.drag-active.is-invalid,
.dropzone.drag-active.is-valid {
  /* ❌ border-color: theme('colors.green.500'); */
  border-color: var(--color-green-500);
  &:focus {
    /* ❌ border-color: theme('colors.green.500'); */
    border-color: var(--color-green-500);
    box-shadow: 0 0 0 0.25rem rgba(var(--form-valid-rgb), 0.25);
  }
}

/* =================== */

.dropzone-p1 {
  /* ❌ font-size: theme('fontSize.lg'); */
  font-size: var(--text-lg);
  font-weight: bold;
  /* ❌ margin-bottom: theme('spacing.1'); */
  margin-bottom: calc(var(--spacing) * 1);
  user-select: none;
}

.dropzone-p1-span {
  color: var(--dropzone-theme-color, var(--dropzone-default-theme-color));
}

.dropzone.disabled .dropzone-p1,
.dropzone.disabled .dropzone-p1-span {
  color: var(--dropzone-disabled-color);
}

.drag-active .dropzone-p1 {
  /* ❌ color: theme('colors.green.500'); */
  color: var(--color-green-500);
}

/* =================== */

.dropzone-p2 {
  /* ❌ color: theme('colors.gray.600'); */
  color: var(
    --color-gray-600
  ); /*^ possibly switch to text-muted-foreground color. */
  /* ❌ font-size: theme('fontSize.sm'); */
  font-size: var(--text-sm);
  /* ❌ padding-top: theme('spacing.2'); */
  padding-top: calc(var(--spacing) * 2);
  user-select: none;
}

.dropzone.disabled .dropzone-p2 {
  color: var(--dropzone-disabled-color);
}

.drag-active .dropzone-p2 {
  /* ❌  color: theme('colors.green.500'); */
  color: var(--color-green-500);
}

.dropzone-p2-btn {
  color: var(--dropzone-theme-color, var(--dropzone-default-theme-color));
  /* ❌ font-family: theme('fontFamily.mono'); */
  font-family: var(--font-mono);
  &:hover {
    /* ❌ color: theme('colors.red.500'); */
    color: var(--color-red-500);
  }
}

.dropzone.disabled .dropzone-p2-btn {
  color: var(--dropzone-disabled-color);
}

.drag-active .dropzone-p2-btn {
  /* ❌ color: theme('colors.green.500'); */
  color: var(--color-green-500);
  &:hover {
    /* ❌ color: theme('colors.green.500'); */
    color: var(--color-green-500);
  }
}

/* =================== */

.dropzone-btn-delete {
  color: var(--dropzone-theme-color, var(--dropzone-default-theme-color));
  /* ❌ padding: theme('spacing.2'); */
  padding: calc(var(--spacing) * 2);
  position: absolute;
  /* ❌ right: theme('spacing.2'); */
  right: calc(var(--spacing) * 2);
  /* ❌ top: theme('spacing.2'); */
  top: calc(var(--spacing) * 2);
  z-index: 1;
  &:hover {
    /* ❌ color: theme('colors.red.500'); */
    color: var(--color-red-500);
  }
}

.dropzone.disabled .dropzone-btn-delete {
  color: var(--dropzone-disabled-color);
}

.drag-active .dropzone-btn-delete {
  /* ❌ color: theme('colors.green.500'); */
  color: var(--color-green-500);
  &:hover {
    /* ❌ color: theme('colors.green.500'); */
    color: var(--color-green-500);
  }
}

/* ======================

====================== */

.dropzone-svg {
  color: var(--dropzone-theme-color, var(--dropzone-default-theme-color));
}

.dropzone.disabled .dropzone-svg {
  color: var(--dropzone-disabled-color);
}

.drag-active .dropzone-svg {
  /* ❌ color: theme('colors.green.500'); */
  color: var(--color-green-500);
}

/* ======================

====================== */

.dropzone.is-valid {
  border-color: var(--form-valid-border-color);
}

.dropzone.is-valid.disabled {
  border-color: var(--dropzone-disabled-color);
}

.dropzone.is-valid:focus {
  border-color: var(--form-valid-border-color);
  box-shadow: 0 0 0 0.25rem rgba(var(--form-valid-rgb), 0.25);
}

/* =================== */

.dropzone.is-invalid {
  /*^ This needs updating... */
  border-color: var(--form-invalid-border-color);
}

.dropzone.is-invalid.disabled {
  border-color: var(--dropzone-disabled-color);
}

.dropzone.is-invalid:focus {
  /*^ This needs updating... */
  border-color: var(--form-invalid-border-color);
  box-shadow: 0 0 0 0.25rem rgba(var(--form-invalid-rgb), 0.25);
}
