:root {
  --form-focus-border-color: var(--color-blue-300);
  /* '--form-focus-shadow-rgb': `${defaultFocusRGB.r}, ${defaultFocusRGB.g}, ${defaultFocusRGB.b}`, */
  --form-valid-border-color: var(--color-green-500);
  --form-invalid-border-color: var(--color-red-500);
}

/* ======================
        .dropzone
====================== */
/*
# May also need is-valid (?), is-invalid (?), invalid-feedback
# --form-disabled-color
*/

.dropzone {
  /*^ Change to --color-primary */
  --dropzone-default-theme-color: var(--color-violet-800);
  --dropzone-disabled-color: #ccc; /*  Too dark: var(--form-disabled-color) */
  --dropzone-preview-size: 100px;
  align-items: center;
  background-color: #fff;
  /* Since there is no definition for --dropzone-theme-color, it will start by using the default.
  However, when consuming we can do this kind of thing: className='[--dropzone-theme-color:orange]' */
  border: 1px dashed
    var(--dropzone-theme-color, var(--dropzone-default-theme-color));
  /* ❌ border-radius: theme('borderRadius.xl'); */
  border-radius: var(--radius-xl);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  /* ❌ padding: theme('spacing.6'); */
  padding: calc(var(--spacing) * 6);
  position: relative;
  width: 100%;
  &:focus {
    /*^ This needs updating... */
    border: 1px solid var(--form-focus-border-color);
    /*^ This needs updating... */
    /*# box-shadow: 0 0 0 0.25rem rgba(var(--form-focus-shadow-rgb), 0.25); */
    outline: none;
  }
}

.dropzone.disabled {
  border: 1px dashed var(--dropzone-disabled-color);
  /* Setting pointer-events: none is important. Otherwise when disabled if
  one drops a file it will open a new tab with that file. */
  pointer-events: none;
}

/*^ Here we need is-invalid, is-valid */
.dropzone.drag-active,
.dropzone.drag-active.is-invalid,
.dropzone.drag-active.is-valid {
  /* ❌ border-color: theme('colors.green.500'); */
  border-color: var(--color-green-500);
  &:focus {
    /* ❌ border-color: theme('colors.green.500'); */
    border-color: var(--color-green-500);
    box-shadow: 0 0 0 0.25rem rgba(var(--form-valid-rgb), 0.25);
  }
}

/* ======================

====================== */

.dropzone-svg {
  color: var(--dropzone-theme-color, var(--dropzone-default-theme-color));
}

.dropzone.disabled .dropzone-svg {
  color: var(--dropzone-disabled-color);
}

.drag-active .dropzone-svg {
  /* ❌ color: theme('colors.green.500'); */
  color: var(--color-green-500);
}

/* ======================

====================== */

.dropzone.is-valid {
  border-color: var(--form-valid-border-color);
}

.dropzone.is-valid.disabled {
  border-color: var(--dropzone-disabled-color);
}

.dropzone.is-valid:focus {
  border-color: var(--form-valid-border-color);
  box-shadow: 0 0 0 0.25rem rgba(var(--form-valid-rgb), 0.25);
}

/* =================== */

.dropzone.is-invalid {
  /*^ This needs updating... */
  border-color: var(--form-invalid-border-color);
}

.dropzone.is-invalid.disabled {
  border-color: var(--dropzone-disabled-color);
}

.dropzone.is-invalid:focus {
  /*^ This needs updating... */
  border-color: var(--form-invalid-border-color);
  box-shadow: 0 0 0 0.25rem rgba(var(--form-invalid-rgb), 0.25);
}
